<!-- <div class="container">
    <div *ngFor="let employee of employees">
        
    </div>
</div> -->
<div class="container">
  <div class="panel">
      <h2 #h1Variable></h2>
      <!-- <button (click)="nextEmployee()" class="btn btn-primary">Next employee</button>
      <h2 *ngIf="dataFromchild">{{dataFromchild.name}}</h2> -->
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm"/>
      </div>
      <div class="form-group">
        <button (click)="changeEmployeeName()" class="btn btn-primary">Change Name</button>
      </div>
  </div>
  
  <div *ngFor="let employee of employees | employeeFilter: searchTerm">

    <!-- <div class="panel" (click)="h1Variable.innerHTML = childComponent.getEmployeeNameAndGeder()"><app-display-employee [employees]="employee" (notify)="handleNotify($event)"></app-display-employee></div> -->
      <div class="panel" (click)="onClick(employee.id)">
        <app-display-employee [employee]="employee" #childComponent></app-display-employee>
      </div>
  </div>
</div>